#moviedetail-page {
   /* background: linear-gradient(to bottom right, #804040, #2a2122); */
   /*min-height: calc(100vh - 56px);*/
    background-color: #000;
}
#moviedetail{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top; 
    background-repeat: no-repeat;
    box-shadow: 3px 3px 30px #0D0D0D;
    
}
#moviedetail::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    z-index: 0;
    /*background: rgba(13, 63, 63, 0.75) 100%;*/
    /*background: linear-gradient(180deg,rgba(13, 63, 63, 0.72), #0f0817);*/
    background: linear-gradient(180deg,rgba(13, 63, 63, 0.72), #18151b);

}
#moviedetail .moviedetail-content {
    z-index: 1;
}
#moviedetail .moviedetail-content .moviedetail-movie {
    min-height: calc(100vh - 100px);
}

#moviedetail .moviedetail-content .moviedetail-movie .imgContainer {
    padding-left: 20px;
    padding-right: 20px;
}
#moviedetail .moviedetail-poster {
    width: 100%;
    
}
#moviedetail .movie-posterNotFound-img {
    width: 100%;
    height: 300px;
}
#moviedetail {
    padding: 60px 30px;
    font-family: 'Nunito', sans-serif; 
    color: #fff;
}
#moviedetail .movie-info .movie-title{
    font-size: 22.5px;
    margin: .3em 0;
}
#moviedetail .movie-info .genres{
    list-style: none;
    padding: 0;
    clear: both;
    color: red;
}
#moviedetail .movie-info ul.star-release{
    font-size: 16px;
    list-style: none;
    padding: 0;
    clear: both;			
}
#moviedetail .movie-info ul.star-release li {
    float: left;
    margin-right: 15px;
}
#moviedetail .movie-info ul.star-release li .star-icon {
    color: #ffdf00;
}
#moviedetail .overview {
    font-size: 16px;
    margin-top: 60px;
    overflow: auto;
    background: linear-gradient(180deg,rgba(13, 63, 63, 0.15), rgb(24, 21, 27,0.15));


}
#moviedetail .movie-info .button-groups i{
    margin: 10px 0;
    font-size: 30px;
}
#moviedetail .movie-info .button-groups .make-comment{
    color: #fff;
   cursor: pointer;
}
#moviedetail .movie-info .button-groups .make-comment i.comment-icon:hover{
    color: red;
 }
#movie-comments {
    margin-top: 5%;
    color: white;
}

@media only screen and (max-width: 600px) {
    #moviedetail {
        padding: 30px 15px;
    }
    #moviedetail .movie-info .movie-title{
        font-size: 18px;
    }
    #moviedetail .overview {
        font-size: 12px;
    }
    #moviedetail .movie-info .button-groups i{
        font-size: 26px;
    }
    #comment-container .post-comment .comment-input {
        min-height: 40px;
    }
    #comment-container .post-comment .avatar {
        height: 50px;
        width: 50px;
    }
   
  }
